<p id="notice"><%= notice %></p>

  <div class='container-fluid'>
    <% @articles.each_slice(3) do |slice| %>
      <div class="row">
      <% slice.each do |article| %>
        <div class="col-sm-6 col-md-4">
          <%=link_to(article, class: "no-link") do %>
            <div class="thumbnail">
                <%= image_tag("http://localhost:3000/ckeditor_assets/pictures/14/thumb_06_4.jpg", class: 'img-circle') %>
              <div class="caption">
                <h3><%= article.title %></h3>
                <p><%= article.body[0..100] %></p>
                <!--p><%= link_to 'Подробнее', article, class: "btn btn-primary" %></p-->
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
      </div>
    <% end %>
  </div>