<% content_for :head do %>
  <%= stylesheet_link_tag "article-show" %>
  <%= stylesheet_link_tag "social-likes_flat" %>
<% end %>
<% content_for :title do %>
  <%= @article.title %>
<% end %>
<div class="title-block text-left">
  <h1 class="article-title">
    <%= @article.title.strip %>
  </h1>
  <div class="text-left left-title-block">
    <%= @article.updated_at.strftime("%d-%m-%Y") %> |
    <span class="glyphicon glyphicon-eye-open"></span>
    <span><%= @article.views %></span> |
    <%= link_to("#{request.original_url}#comments_section") do %>
      <span class="glyphicon glyphicon-comment"></span>
      <span class="disqus-comment-count" data-disqus-url='<%= article_url(@article) %>'>0</span>
    <% end %>
    <% if @article.author %>
      | <span>Автор: <%= link_to "#{@article.author}", { controller: "articles", action: "index", author: @article.author }, class: "article-author" %></span> 
    <% end %>
  </div>
  <div class="text-right">
    <span class="category_tag">
      <% @article.categories.each_with_index do |category, index| %>
        <span>
          <%= "," if index > 0 %>
          <%= link_to(category.name, category )%>
        </span>
      <% end %>
    </span>
    <% if @article.rubric %>
      <span class="rubric_tag">
        <%= link_to(@article.rubric.name, @article.rubric) %>
      </span>
    <% end %>
  </div>
</div>
<div class=" article-body text-left">
  <%= @article.body.html_safe %>
</div>
<div class="social-block social-likes social-likes_light text-left">
  <div>Хотите поделиться?</div>
  <div class="facebook" title="Поделиться ссылкой на Фейсбуке">Facebook</div>
  <div class="twitter" title="Поделиться ссылкой в Твиттере">Twitter</div>
  <div class="vkontakte" title="Поделиться ссылкой во Вконтакте">Вконтакте</div>
</div>
<% unless @relevant_articles.empty? %>
  <div class='most-relevant'>
    <h3>Похожие материалы</h3>
    <div class="row">
      <% @relevant_articles.each do |article| %>
        <div class="col-sm-6 col-md-4">
          <%= link_to(article, class: "no-link") do %>
            <div class="thumbnail">
                <%= image_tag("http://localhost:3000/ckeditor_assets/pictures/15/thumb_38.jpg", class: 'img-circle') %>
              <div class="caption">
                <div class="views-comments-thumb">
                  <div>
                    <span class="glyphicon glyphicon-eye-open"></span>
                    <span><%= article.views %></span>
                  </div>
                  <div>
                    <span class="glyphicon glyphicon-comment"></span>
                    <span class="disqus-comment-count" data-disqus-url='<%= article_url(article) %>'>0</span>
                  </div>
                </div>
                <div class="article-desc">
                  <h3><%= article.title %></h3>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<div class="comments" id ="comments_section" >
  <div id="disqus_thread"></div>
  <script>
    var disqus_loaded = false;
    var disqus_shortname = 'popnotdead'; 
    function disqus() {
        if (!disqus_loaded)  {
            disqus_loaded = true;
            var e = document.createElement("script");
            e.type = "text/javascript";
            e.async = true;
            e.src = "//" + disqus_shortname + ".disqus.com/embed.js";
            (document.getElementsByTagName("head")[0] ||
            document.getElementsByTagName("body")[0])
            .appendChild(e);
            //Hide the button after opening
            //document.getElementById("show-comments").style.display = "none";
        }
    }
  </script>
  <script type="text/javascript">
    window.onscroll = function(e) {
      if ((window.innerHeight + window.scrollY) 
          >= document.body.offsetHeight) 
      {
          if (!disqus_loaded) disqus(); 
      }
    };
  </script>
  <noscript>Please enable JavaScript to view the comments</noscript>
</div>