<% content_for :head do %>
  <%= stylesheet_link_tag "article-show" %>
<% end %>
<h1 class="article-title">
  <%= @article.title %>
</h1>
<div class=" article-body text-left">
  <%= @article.body.html_safe %>
</div>
<% unless @relevant_articles.empty? %>
  <div class='most-relevant'>
    <h3>Похожие материалы</h3>
    <div class="row">
      <% @relevant_articles.each do |article| %>
        <div class="col-sm-6 col-md-4">
          <%= link_to(article, class: "no-link") do %>
            <div class="thumbnail">
                <%= image_tag("http://localhost:3000/ckeditor_assets/pictures/15/thumb_38.jpg", class: 'img-circle') %>
              <div class="caption">
                <div class="views-comments-thumb">
                  <div>
                    <span class="glyphicon glyphicon-eye-open"></span>
                    <span><%= article.views %></span>
                  </div>
                  <div>
                    <span class="glyphicon glyphicon-comment"></span>
                    <span class="disqus-comment-count" data-disqus-url='<%= article_url(article) %>'>0</span>
                  </div>
                </div>
                <div class="article-desc">
                  <h3><%= article.title %></h3>
                  <p class="text-left"><%= article.lead %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
<div class="comments">
  <div id="disqus_thread"></div>
  <script>
    var disqus_config = function () {
    this.page.url = '<%= request.original_url %>'
    this.page.identifier = 'articles-<%= @article.id %>'
    };
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://popnotdead.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the comments</noscript>
</div>