<div class="col-sm-6 col-md-4 article-item">
  <%= link_to(article, class: "no-link") do %>
    <div class="text-container text-container-top">
      <div class="text-vertical">
        <div class="views-comments-thumb">
          <div>
            <span class="glyphicon glyphicon-eye-open"></span>
            <span><%= article.views %></span>
          </div>
          <div>
            <span class="glyphicon glyphicon-comment"></span>
            <span class="disqus-comment-count" data-disqus-url='<%= article_url(article) %>'>0</span>
          </div>
        </div>
        <div class="article-desc">
          <h3><%= article.title %></h3>
          <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
        </div>
      </div>
    </div>
    <div class="image-container" style="background-image: url('<%= article.preview_img %>'); background-position: center; width: 100%; background-size: cover;">
      <%= render partial: 'partials/category_rubric_tags', locals: { article: article } %>
    </div>

  <% end %>
</div>