<!DOCTYPE html>
<html>
<head>
  <title>Pop not dead</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= yield :head %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="top-block">
    <div class='container'>
      <div class='row'>
        <div class="col-md-9 text-center">
          <h1 class='logo'>
            <%= link_to 'Pop not dead', root_path %>
          </h1>
        </div>
        <div class="col-md-3 text-center">
          <form class="form-inline main-search">
            <input type="text" class="form-control" id="searchinput" placeholder="Search">
            <button type="submit" class="btn btn-default glyphicon glyphicon-search" aria-hidden="true"></button>
          </form>
        </div>
      </div>
    </div>
    <div class='container'>
      <div class='row'>
        <div class="col-md-9 text-center">
              <div class='row'>
                <div class="col-md-6 text-center">
                  <a><h4>Категории</h4></a>
                </div>
                <div class="col-md-6 text-center">
                  <a><h4>Рубрики</h4></a>
                </div>
              </div>
        </div>
        <div class="col-md-3 text-center"></div>
      </div>
    </div>
  </div> <!-- end of top-block -->
  <div class='container cool-borders'>
    <div class='row'>
      <div class="col-md-9 text-center">
        <%= yield %>
      </div>
      <div class="col-md-3 text-center">
        <div class="affix-menu" data-spy="affix">
          <h3>Популярное</h3>
          <div class='container-fluid most-popular text-left'>
            <% @most_popular.each do |popular| %>
              <h4><%= link_to(popular.title, popular) %></h4>
              <div class="views-comments-thumb">
                <div>
                  <span class="glyphicon glyphicon-eye-open"></span>
                  <span><%= popular.views %></span>
                </div>
                <div>
                  <span class="glyphicon glyphicon-comment"></span>
                  <span>30</span>
                </div>
              </div>
            <% end %>
          </div>
        </div> <!-- end of affix menu -->
      </div> <!-- end of column with popular block -->
    </div><!-- end of row with columns -->
  </div> <!-- end of cool borders -->
</body>
</html>